<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Inspection Sheet</title>
</head>
<body>
    <nav>
        <h1>
            <a class="navbar-brand" href="/">
                <img src="/logo.png" width="100" height="100" alt="">
            </a>
        </h1>
    </nav>

    <form action="/submit" method="POST">
        <div class="container mt-4">
            <div class="row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="drawing" value="{{data.drawing}}" disabled>
                        <label for="drawing">Drawing</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="workorder" value="{{data.workorder}}" disabled>
                        <label for="workorder">W/O Number</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col box">
                    <img src="/images/{{data.drawing}}_1.png" alt="Flowers in Chania" width="140">
                </div>
                <div class="col box">
                    <img src="/images/{{data.drawing}}_2.png" alt="Flowers in Chania" width="140">
                </div>
                <div class="col box">
                    <img src="/images/{{data.drawing}}_3.png" alt="Flowers in Chania" width="140">
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Incoming Measurements
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Length">Overall Length</span>
                                <input type="text" class="form-control" id="in_Length" name="in_Length" value="{{data.in_Length}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Drop1">Drop1 Length</span>
                                <input type="text" class="form-control" id="in_Drop1" name="in_Drop1" value="{{data.in_Drop1}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Drop2">Drop2 Length</span>
                                <input type="text" class="form-control" id="in_Drop2" name="in_Drop2" value="{{data.in_Drop2}}">
                            </div>           
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Drop3">Drop3 Length</span>
                                <input type="text" class="form-control" id="in_Drop3" name="in_Drop3" value="{{data.in_Drop3}}">
                            </div>       
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Drop4">Drop4 Length</span>
                                <input type="text" class="form-control" id="in_Drop4" name="in_Drop4" value="{{data.in_Drop4}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Underside">Underside Drop from Top</span>
                                <input type="text" class="form-control" id="in_Underside" name="in_Underside" value="{{data.in_Underside}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Top">Top Outside Ø</span>
                                <input type="text" class="form-control" id="in_Top" name="in_Top" value="{{data.in_Top}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Outside2">Outside Ø 2</span>
                                <input type="text" class="form-control" id="in_Outside2" name="in_Outside2" value="{{data.in_Outside2}}">
                            </div>           
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Outside3">Outside Ø 3</span>
                                <input type="text" class="form-control" id="in_Outside3" name="in_Outside3" value="{{data.in_Outside3}}">
                            </div>       
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Outside4">Outside Ø 4</span>
                                <input type="text" class="form-control" id="in_Outside4" name="in_Outside4" value="{{data.in_Outside4}}">
                            </div>    
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Outside5">Outside Ø 5</span>
                                <input type="text" class="form-control" id="in_Outside5" name="in_Outside5" value="{{data.in_Outside5}}">
                            </div>    
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Outside6">Outside Ø 6</span>
                                <input type="text" class="form-control" id="in_Outside6" name="in_Outside6" value="{{data.in_Outside6}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Outside7">Outside Ø 7</span>
                                <input type="text" class="form-control" id="in_Outside7" name="in_Outside7" value="{{data.in_Outside7}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Inside1">Inside Ø 1</span>
                                <input type="text" class="form-control" id="in_Inside1" name="in_Inside1" value="{{data.in_Inside1}}">
                            </div>           
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Inside2">Inside Ø 2</span>
                                <input type="text" class="form-control" id="in_Inside2" name="in_Inside2" value="{{data.in_Inside2}}">
                            </div>           
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            Outgoing Measurements
                        </div>
                        <div class="card-body">
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Length">Overall Length</span>
                                <input type="text" class="form-control" id="out_Length" name="out_Length" value="{{data.out_Length}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Drop1">Drop1 Length</span>
                                <input type="text" class="form-control" id="out_Drop1" name="out_Drop1" value="{{data.out_Drop1}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Drop2">Drop2 Length</span>
                                <input type="text" class="form-control" id="out_Drop2" name="out_Drop2" value="{{data.out_Drop2}}">
                            </div>           
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Drop3">Drop3 Length</span>
                                <input type="text" class="form-control" id="out_Drop3" name="out_Drop3" value="{{data.out_Drop3}}">
                            </div>       
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Drop4">Drop4 Length</span>
                                <input type="text" class="form-control" id="out_Drop4" name="out_Drop4" value="{{data.out_Drop4}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Underside">Underside Drop from Top</span>
                                <input type="text" class="form-control" id="out_Underside" name="out_Underside" value="{{data.out_Underside}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Top">Top Outside Ø</span>
                                <input type="text" class="form-control" id="out_Top" name="out_Top" value="{{data.out_Top}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Outside2">Outside Ø 2</span>
                                <input type="text" class="form-control" id="out_Outside2" name="out_Outside2" value="{{data.out_Outside2}}">
                            </div>           
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Outside3">Outside Ø 3</span>
                                <input type="text" class="form-control" id="out_Outside3" name="out_Outside3" value="{{data.out_Outside3}}">
                            </div>       
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Outside4">Outside Ø 4</span>
                                <input type="text" class="form-control" id="out_Outside4" name="out_Outside4" value="{{data.out_Outside4}}">
                            </div>    
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Outside5">Outside Ø 5</span>
                                <input type="text" class="form-control" id="out_Outside5" name="out_Outside5" value="{{data.out_Outside5}}">
                            </div>    
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Outside6">Outside Ø 6</span>
                                <input type="text" class="form-control" id="out_Outside6" name="out_Outside6" value="{{data.out_Outside6}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Outside7">Outside Ø 7</span>
                                <input type="text" class="form-control" id="out_Outside7" name="out_Outside7" value="{{data.out_Outside7}}">
                            </div>
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Inside1">Inside Ø 1</span>
                                <input type="text" class="form-control" id="out_Inside1" name="out_Inside1" value="{{data.out_Inside1}}">
                            </div>           
                            <div class="input-group mb-3">
                                <span class="input-group-text" style="width: 5cm;" id="Inside2">Inside Ø 2</span>
                                <input type="text" class="form-control" id="out_Inside2" name="out_Inside2" value="{{data.out_Inside2}}">
                            </div>                
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container mt-4">
            <button type="submit" class="btn btn-primary justify-content-center">Submit</button>
        </div>
    </form> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>